header {
    background-color: #b41c1c;
    padding-bottom: 40px;
}

h1 {
    padding-top: 25px;
    color: #ffffff;
    padding-bottom: 10px;
    text-align: center;
    font-size: 60px;
    font-family: cursive;
}

.contenedor-presentacion {
    display: grid;
    grid-template-areas: 
    "texto-principal imagen-principal"
    ;
    grid-template-columns: 600px 300px;
    color: #ffffff;
    text-align: justify;
    font-family: cursive;
    font-size: 20px;
    padding-top: 40px;
}

.texto-principal {
    grid-area: texto-principal;
    padding-left: 80px;
    line-height: 40px;
    padding-top: 40px;
}

.imagen-principal {
    grid-area: imagen-principal;
    padding-left: 200px;
}

.contenedor-titulo-comida {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: cursive;
    font-size: 20px;
}

.contenedor-fotos-comida {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}

.contenedor-fotos-comida:hover {
    transform: scale(1.2);
}

.contenedor-descripcion-comida {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: cursive;
    font-size: 20px;
    padding-bottom: 20px;
}

.titulo-formulario {
    color: #ffffff;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    padding-bottom: 40px;
}

.formulario-contacto-email {
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 30px;
}

.formulario-contacto-texto {
    padding-left: 200px;
    padding-right: 200px;
}

.titulo-partnership {
    color: #ffffff;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
}

.contenedor-fotos-marcas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 60px;
}

.descripcion-chef {
    display: grid;
    grid-template-areas: 
    "titulo-chef titulo-chef titulo-chef"
    "texto-chef imagen-chef imagen-chef"
    ;
    grid-template-columns: 400px 150px 150px;
    color: #ffffff;
    text-align: justify;
    font-family: cursive;
    font-size: 20px;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 30px;
}

.titulo-chef {
    grid-area: titulo-chef;
    padding-bottom: 30px;
    padding-left: 40px;
}

.texto-chef {
    grid-area: texto-chef;
}

.imagen-chef {
    grid-area: imagen-chef;
}

.descripcion-staff {
    display: grid;
    grid-template-areas: 
    "titulo-staff titulo-staff titulo-staff"
    "imagen-staff imagen-staff texto-staff"
    ;
    grid-template-columns: 150px 150px 515px;
    color: #ffffff;
    text-align: justify;
    font-family: cursive;
    font-size: 20px;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 60px;
}

.titulo-staff {
    grid-area: titulo-staff;
    padding-bottom: 30px;
    padding-left: 40px;
}

.imagen-staff {
    grid-area: imagen-staff;
}

.texto-staff {
    grid-area: texto-staff;
    padding-right: 60px;
}

.contenedor-footer {
    display: grid;
    grid-template-areas: 
    "link-instagram-footer logo-footer direccion-footer"
    "link-instagram-footer logo-footer telefono-footer"
    ;
    grid-template-columns: 280px 280px 280px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    justify-content: space-between;
    padding-top: 20px;
}

.link-instagram-footer {
    grid-area: link-instagram-footer;
}

.logo-footer {
    grid-area: logo-footer;
    padding-left: 90px;
}

.direccion-footer {
    grid-area: direccion-footer;
}

.telefono-footer {
    grid-area: telefono-footer;
}